:root{
    font-size: 16px;
}

body{
    background-image:url("ion.jpg");
    background-repeat: no-repeat;
    inset:0;
}

.buton1{
    background-color: rgb(230, 119, 119);
    font-size: large;
    color:white;
    border-radius: 2ch;
    padding:1em;
}

#container {
    position:fixed;
    inset-block-start:80vh;
    inset-block-end: 10vh;
    inset-inline:3vw;
    background-color: blueviolet;
}

#h1 {
    display:block;
    position:fixed;
    inset:65vh 65vh 15vh;
    background-color: aqua;
    text-align: center;
    color:red;
    
}

