body{
    background-color: aqua;
}

#button1{
    background-color: red;
    font-size: large;
    color:white;
    border-radius: 2ch;
    padding:1em;
}

#buton2{
    background-color: red;
    font-size: 2em;
    color:white;
    border-radius: 2ch;
    padding:1em;
}

